<h2>
    Calculator module
</h2>

<pre>
    Basic task is to create a directive to explain scope isolation =,&,@
    Lets take 2 numbers in scope which supports 2 way binding by using =
    we are going to add,subtract,multiply and divide using those numbers by having scope functions
    and used in directive via &
    we convey the nature of operation via a message using @

    Notes:
    calculate method takes 2 named arguments num1, num2
    so call it like scope.calculate({num1:5,num2:6}) which translates to add(num1,num2) e.g add(5,6)
</pre>
<!--
-->
<div calci number1="number1" number3="number2" calculate="add(num1,num2)">Add Function</div>
<hr>
<div calci number1="number1" number3="number2" calculate="subtract(num1,num2)">Subtract Function</div>